<h2 class="menu">Dashboard</h2>
<p><%= page_loaded %></p>
<%= render "new_raw_tweets_summary" %>
<%= render "parsed_raw_tweets_summary" %>
<%= render "companies_summary" %>
<%= render "company_keywords_summary" %>
<%= render "users_summary" %>
<%= render "tags_summary" %>
<%= render "tweets_summary" %>